node_modules
dist
generated
.env
/generated/prisma

.vscode

.env.*

logs
*.log
coverage
.nyc_output
.cache
*.tsbuildinfo

tmp
temp

.DS_Store
Thumbs.db

instruction.md

.vercel


README2.md
3-FixItNow.md
